@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Molle&display=swap');
h1,h2,h3{
    color:#13fd02;
    text-align: center;
}

.container{
    width: 90%;
    margin: auto;
}
.container h3{
    color:red;
}

#sec1{
    background-color: chocolate;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Bloka elementu modelis */

h1{
    /* Ārējās Atkāpes */
    margin:50px;
    margin: 100px 50px;
    margin: 20px 30px 40px 50px;
    margin-top:5px;

    /* Iekšējās atkāpes */
    padding:50px;
    padding: 100px 50px;
    padding: 20px 30px 40px 50px;
    padding-top:5px;


    /* apmales */

    border: 3px solid  red;
    border-bottom: 3px solid  rgb(0, 255, 38);
    /* border-width: 10px; */
    border-bottom-width: 10px;
    border-radius: 10px 10px 0px 0px;

    /* outline */

    /* outline: 4px double rgb(255, 3, 3);
    outline-offset: 10px; */

    /* width: 450px; */
    max-width: 450px;
    height:300px;
    margin: 50px auto ; 
    /* margin auto centrē elementu, ja ta platums ir mazāks par 100% */


    box-sizing: border-box;
    /* Ieteicams likt pie body */

    background-color: aquamarine;
    color:black

} 
/* Flexbox (flex) */

.container{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 3px solid white;
    /* height: 100px; */
}

.gallery,.videos,nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom:30px;
}

.videos{
    justify-content: space-around;
}
nav{
    background-color: black;
    padding: 10px 30px;

}

nav a{
    color:white;
    text-decoration: none;
}


body{
    margin:0px;
}



.bl1{
    position: relative;
    top:-50px;
}
.bl2{

}
.bl3{
    position: relative;
    top:50px;
}


 .menu_btn{
    font-size: 2rem;
    width: 50px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    display: none;
 }   


@media screen and (max-width:1024px) {
    /* Tab */

    body{
        background-color: blue;
    }
    #sec1,#sec2,#sec3{
        height: auto;
        overflow: auto;
        padding: 10px;
    }



    .block1{
        position: static;
    }

    .gallery img{
        width: 50%;
    }

    .container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:860px) {
    /* Phone */

    body{
        background-color: rgb(0, 255, 26);
    }

    .menu_btn{
        display: block;
    }

    nav a{
        display: none;
    }

}


/* Animācijas */

.container div:hover{
    box-shadow: 0px 0px 10px black;
}

.container div:active{
    background-color: white;
}
.left,.right{
    width: 50%;
}
.left{
    padding: 10px 40px 10px 40px;
}

.container .left:hover,
.container .right:hover{
    box-shadow: none;
}


/* Form */

form input,form textarea{
    display: block;
    width: 100%;
    margin:20px 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 1.5rem;
    
}
form input, form textarea{
    transition: all .3s ease-in;
}
form input:focus, form textarea:focus{
    background-color: rgb(0, 0, 0);
    outline-color: red;
    color:white;
    transform: scale(1.2,1);
    transition: all .3s ease-in;
}
.gallery img{
    transition: all .3s cubic-bezier(.02,.81,.32,1.38);
}


.gallery img:hover{
    transform: scale(1.2);
    transform: translate(-10px, -15px);
    transform: rotate(3deg) scale(1.2) translate(-10px, -15px);
    filter:blur(3px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.567);
    transition: all .5s cubic-bezier(.02,.81,.32,1.38);
}


/* .container .block1:hover{
    animation: lecieni .5s infinite linear;
} */


@keyframes lecieni {
    25%{
        transform: translate(0px, 0px)rotate(-5deg);
        opacity: 0.3;

    }
    75%{
        transform: translate(0px, -20px) rotate(5deg);
        opacity: 1;

        
    }
}

nav{
    padding: 20px 10px;
}
nav a{
    font-size: 2rem;
}

nav a:hover{
    animation:jello-horizontal .9s both;
    color:red;
}


.block1:hover{animation:flip-in-hor-bottom .5s cubic-bezier(.25,.46,.45,.94) backwards}



/* ----------------------------------------------
 * Generated by Animista on 2024-12-17 20:36:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes flip-in-hor-bottom{0%{transform:rotateX(80deg);opacity:0}100%{transform:rotateX(0);opacity:1}}
 @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}